.gnb a:hover {
  color: red !important;
}
.gnb:hover ul {
  height: 180px;
}
.gnb > li:hover a {
  color: red;
}
.gnb ul {
  top: 100%;
  min-width: 120px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.gnb ul::before, .gnb ul::after {
  content: "";
  display: block;
  height: 16px;
}