// $menumg: 1rem;

// #hd{
//     padding: 10px 35px;
//     display: flex;
//     justify-content: space-between;
//     border-bottom: 1px solid black;
//     h1{
//         a{
//             img{

//             }
//         }
//     }
//     .gnb{
//         display: flex;
//         margin: auto;
//         margin-left: 2rem;
//         il{
//             margin-right: $menumg;
//             a{

//             }
//         }
//     }
//     .iconMenu{
//         display: flex;
//         li{ margin-left: $menumg;
//             i{

//             }
//             span{
//                 position: absolute;
//                 width: 0;
//                 height: 0;
//                 display: block;
//                 overflow: hidden;
//                 opacity: 0;
//             }
//         }
//     }
//     .member{
//         display: flex;
//         li{margin-left: $menumg;
//             a{

//             }
//         }

//     }
// }

#hd{
    a{
        text-decoration: none;
    }
    .gnb{
        .d1{
            //대메뉴 li

            &:hover{
                //대메뉴 롤오버시 소메뉴 노출
                ul{
                    display: block;
                }
            }
            .gnb_d1_a{
                //대메뉴
               font-size: 1.2em;
               color:black;
            }
              
      
            ul{
                //소메뉴
                display: none;
                min-width: 80px;
                white-space: nowrap;
                color: white;
                &.leftul{
                    left: -2rem;
                }
                
              
                li{
                    a{
                       font-size: 0.85rem;
                       color: white;
                    }
                }
            }
        }  
    }
}